<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Bem-vindo ao BookScheduler</h1>
<p>Aqui você cadastra os seus livros e define sua prioridade para leitura.\</p>

<form action="/cadastrar" method="post">
    <label for="">nome:</label>
    <input type="text" name="name">

    <label for="">autor:</label>
    <input type="text" name="author">

    <label for="">Por que quero ler este livro?</label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>

    <button>Salvar</button>
</form>

</body>
</html>