<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Cadastrado com sucesso.</h1>

    <div th:each="book : ${books}">
        <div>
            <p><span th:text="${book.name}"></span></p>
            <p><span th:text="${book.author}"></span></p>
            <p><span th:text="${book.description}"></span></p>
        </div>
    </div>
</body>
</html>